<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <div class="container">
      <h2><strong>Latest Mars News</strong></h2>
        <div class="row">
          <div class="col-md-12">
            <div class="box">
              <h3>{{ mars_update.News_Title }}</h3>
              <p>{{ mars_update.News_Paragraph }}</p>
            </div>
          </div>
        </div> 
      <h2><strong>Featured Mars Image</strong></h2>    
        <div class="row">
          <div class="col-md-12">
            <div class="box">
              <div class="featured-img">
                <img src="{{ mars_update.Featured_Image }}" alt="Featured image of Mars">
              </div>
            </div>
          </div>
        </div>
      <h3><strong>Mars Facts</strong></h3>
        <div class="row">
          <div class="col-md-12">
         
                  {{mars_update.Mars_Facts | safe}}
          
          </div>
        </div>
      <h2><strong>Mars Hemispheres</strong></h2>
        <div class="row">

          <div class="col-md-12">
            <div class="box">
              <div class="hemisphere-imgs">
                {% for image in mars_update.Hemisphere_URLs %}
                <img id="image" src="{{ image.image_url }}" alt="Images of the hemispheres of Mars">
                <h5>{{ image.title }}</h5>
                {% endfor %}
              </div>
            </div>
          </div>

        </div>

      </div> 
    </div>
  </div>
</body>

</html>